<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Offer us an awesome product</title>
    <%- include( 'include/head' ) %>
</head>
<body>
<%- include( 'include/navbar' ) %>
<div class="container pt-5">
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Offer product</h3>
        </div>
        <div class="card-body">
            <div class="form-group">
                <label for="inputName">Product Name</label>
                <input type="text" id="inputName" class="form-control">
            </div>
            <div class="form-group">
                <label for="inputDescription">Product Description</label>
                <textarea id="inputDescription" class="form-control" rows="4"></textarea>
            </div>
            <div class="form-group">
                <label for="inputStatus">Status</label>
                <select id="inputStatus" class="form-control custom-select">
                    <option selected="" disabled="">Select one</option>
                    <option>On Hold</option>
                    <option>Canceled</option>
                    <option>Success</option>
                </select>
            </div>
            <div class="form-group">
                <label for="inputClientCompany">Client Company</label>
                <input type="text" id="inputClientCompany" class="form-control">
            </div>
            <div class="form-group">
                <label for="inputProjectLeader">Project Leader</label>
                <input type="text" id="inputProjectLeader" class="form-control">
            </div>
        </div>
    </div>
    <div class="col-12">
        <a href="/">Cancel</a>

    </div>
</div>
</body>
</html>