a {
    text-decoration: none;
}

tr {
    vertical-align: middle;
}

.main-content {
    padding: 25px 20px 25% 5%;
}

.product-block {
    margin: 25px;
    margin-left: 0;
}

#navbar {
    width: 100%;
    background-color: #fff;
    -webkit-box-shadow: 0px 6px 10px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 6px 10px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 6px 10px 0px rgba(34, 60, 80, 0.2);
}

.navbar-offer-button {
    margin-right: 1rem;
}

.admin-navbar {
    margin-bottom: 0!important;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    align-items: center;
}


.navbar-button {
    color: #283845;
    padding: 0.2rem 1rem;
    border: 1px solid #F29559;
    border-radius: 4px;
    align-items: center;
}

.navbar-button:hover {
    background-color: #F29559;
    border: 1px solid #F29559;
    color: #fff;
    transition: all 0.2s ease;
}

#user_profile {
    display: flex;
}

.form-signin {
    width: 500px;!important;
    margin: auto;
    margin-top: 1rem;
}

.form-floating {
    margin-bottom: 1rem;
}

.navbar-search {
    width: 50%;
}

.btn_su {
    background-color: #fff;
    border-color: #F29559;
    color: #000;
}

.btn_su:hover {
    background-color: #F29559;
    border-color: #F29559;
}

.tempLogo h3 {
    margin: 0;
}

.container-fluid {
    display: flex;
}

.nav-item {
    display: flex;
    align-items: center;
}

.table {
    margin-top: 1rem;
}

.overflowY {
    overflow-y: auto;
    height: 10rem;
}

.product-block {
    width: 290px;
}

.card {
    width: 100%;
    -webkit-box-shadow: 4px 4px 10px 0px rgba(34, 60, 80, 0.31);
    -moz-box-shadow: 4px 4px 10px 0px rgba(34, 60, 80, 0.31);
    box-shadow: 4px 4px 10px 0px rgba(34, 60, 80, 0.31);
}

.card-header {
    background: #59f2bf;
    color: #0000009c;
}

.card-img {
    width: auto;
    height: 273px;
    background-position: top;
    background-size: cover;
}

.nav-icon {
    width: 1.6rem;
    text-align: center;
}

.small-box {
    border-radius: 0.25rem;
    box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
    display: block;
    margin-bottom: 20px;
    position: relative;
}

.small-box .inner {
    padding: 10px;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

.small-box .small-box-footer {
    background-color: rgba(0,0,0,.1);
    color: rgba(255,255,255,.8);
    display: block;
    padding: 3px 0;
    position: relative;
    text-align: center;
    text-decoration: none;
    z-index: 10;
}

.row {
    width: 100%;
}

.small-box .icon {
    color: rgba(0,0,0,.15);
    z-index: 0;
    position: absolute;
    right: 15px;
    font-size: 60px;
    top: 20px;
    line-height: 1;
}

.submit-offer:hover {
    -webkit-box-shadow: 4px 4px 10px 0px rgba(34, 60, 80, 0.31);
    -moz-box-shadow: 4px 4px 10px 0px rgba(34, 60, 80, 0.31);
    box-shadow: 4px 4px 10px 0px rgba(34, 60, 80, 0.31);
}

.badge-success {
    color: #fff;
    background-color: #28a745;
}

.badge-fail {
    color: #fff;
    background-color: #a72828;
}

.card:hover .add-wishlist {
    opacity: 1;
    cursor: pointer;
}

    .add-wishlist, .wishlisted {
    transition: opacity 250ms ease-in-out 0s;
    opacity: 0;
    /* width: 1.7rem; */
    position: absolute;
    /* display: inline-flex;
    justify-content: center; */
    font-weight: 900;
    padding: 2px;
    top: 5px;
    right: 5px;
    background-color: #fff;
    border-radius: 50%;
}