<%if (ID == 0){ %>
    <div id="navbar" class="sticky-top">
        <div class="navbar-container">
            <div id="logo">
                <a class="tempLogo" href="/"><h3><b>Curio</b></h3></a>
            </div>
            <div class="navbar-search">
                <form class="d-flex" action="/productSearch" method="get">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="q">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
            <div id="regLoginButton">
                <a class="regLoginButton" href="/registrationPage">Sign up</a>
                <a class="regLoginButton" href="/signInPage">Sign in</a>
            </div>
        </div>
    </div>
<%} else if(Role == 'User') {%>
    <div id="navbar" class="sticky-top">
        <div class="navbar-container">
            <div id="logo">
                <a class="tempLogo" href="/"><h3><b>Curio</b></h3></a>
            </div>
            <div class="navbar-search">
                <form class="d-flex" action="/productSearch" method="get">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="q">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
            <div id="user_profile" class="dropdown">
                <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-user rounded-circle me-2" aria-hidden="true" style="border-radius: 4px; background: black; padding: 5px; color: rgb(255, 194, 82);"></i>
                    <strong id="user_name"><%= ID[0].name%></strong>
                </a>
                <ul class="dropdown-menu text-small shadow dropdown-menu-end" aria-labelledby="dropdownUser2">
                    <li><a class="dropdown-item" href="#">Settings</a></li>
                    <li><a class="dropdown-item" href="#">Profile</a></li>
                    <li><a class="dropdown-item" href="">Wishlist</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item logout" href="/signInPage">Sign out</a></li>
                </ul>
            </div>
            <div id="regLoginButton">
                <a class="regLoginButton" href="/">offer a product</a>
                <a class="regLoginButton" href="/signInPage">Sign out</a>
            </div>
        </div>
    </div>
<%} else {%>
<div id="navbar" class="sticky-top">
    <div class="navbar-container">
        <div id="logo">
            <a class="tempLogo" href="/"><h3><b>Curio</b></h3></a>
        </div>
        <div class="navbar-search">
            <form class="d-flex" action="/productSearch" method="get">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="q">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
        <div id="user_profile" class="dropdown">
            <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fas fa-user rounded-circle me-2" aria-hidden="true" style="border-radius: 4px; background: black; padding: 5px; color: rgb(255, 194, 82);"></i>
                <strong id="user_name"><%= ID[0].name%></strong>
            </a>
            <ul class="dropdown-menu text-small shadow dropdown-menu-end" aria-labelledby="dropdownUser2">
                <li><a class="dropdown-item" href="/adminPanel/users">Users</a></li>
                <li><a class="dropdown-item" href="/adminPanel/Products">Products</a></li>
                <li><a class="dropdown-item" href="/adminPanel/Propositions">Propositions</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item logout" href="/signInPage">Sign out</a></li>
            </ul>
        </div>
        <div id="regLoginButton">
            <a class="regLoginButton" href="/adminPanel">Admin panel</a>
            <a class="regLoginButton" href="/signInPage">Sign out</a>
        </div>
    </div>
</div>
<%}%>